.filter-button {
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  background: linear-gradient(to right, #6f0000, #200122);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    color: yellow;
  }
}
